<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated moses -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="moses.presentation.MosesModelWizardID"
            name="%_UI_MosesModelWizard_label"
            class="moses.presentation.MosesModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/MosesModelFile.gif">
         <description>%_UI_MosesModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated moses -->
      <editor
            id="moses.presentation.MosesEditorID"
            name="%_UI_MosesEditor_label"
            icon="icons/full/obj16/MosesModelFile.gif"
            extensions="moses"
            class="moses.presentation.MosesEditor"
            contributorClass="moses.presentation.MosesActionBarContributor">
      </editor>
   </extension>

</plugin>
